@charset "UTF-8";
@import "../../fonts/fonts.css";
@import "../styles/normalize.css";
* {
  box-sizing: border-box;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: default !important;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  font-family: "Gilroy", sans-serif;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.breadcrumbs__container {
  max-width: 1140px;
  margin: 30px auto 0 14px;
  height: fit-content;
}
@media (min-width: 768px) {
  .breadcrumbs__container {
    margin-left: 22px;
  }
}
@media (min-width: 1200px) {
  .breadcrumbs__container {
    grid-column: 1;
    grid-row: 1;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
  }
}
.breadcrumbs__link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}
.breadcrumbs__link:not(:first-of-type)::before {
  content: "/";
  color: #888A8F;
  display: inline-block;
  width: 10px;
}
.breadcrumbs__link:last-of-type {
  color: #888A8F;
}
.breadcrumbs__link:last-of-type::before {
  color: #888A8F;
}

.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-header__site-logo {
  margin-left: 25px;
}
@media (min-width: 768px) {
  .main-header__site-logo {
    margin-left: 30px;
    width: 143px;
    height: 16px;
  }
  .main-header__site-logo a {
    display: inline-block;
    width: 100%;
    height: 16px;
  }
  .main-header__site-logo img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .main-header__site-logo {
    margin: 0;
  }
}
.main-header__global-menu {
  display: none;
}
@media (min-width: 992px) {
  .main-header__global-menu {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-header__global-menu {
    margin: 0 0 0 165px;
  }
}
@media (min-width: 992px) {
  .main-header__global-menu-list {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
  }
}
.main-header__global-menu-item {
  color: #888A8F;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.main-header__global-menu-item--active {
  color: #000000;
}
.main-header__global-menu-item--active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background: #3778FF;
  top: 22px;
  left: 51%;
  transform: translate(-50%, 0);
}
.main-header__language {
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}
.main-header__language:hover .main-header__language-dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header__language-dropdown-icon {
  margin-left: 15px;
}
.main-header__language-icon {
  height: 16px;
  width: 16px;
  position: relative;
  color: #3F3F3F;
}
.main-header__language-icon::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  opacity: 0.1;
  margin-left: 7px;
  background: #000;
}
.main-header__language-icon img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}
.main-header__language-dropdown-wrapper {
  position: absolute;
  width: 100%;
  padding-bottom: 30px;
}
.main-header__language-dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 28px;
  border-top: 3px solid #3778FF;
  z-index: 10000;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.14);
}
.main-header__language-change-icon {
  width: 16px;
  height: 16px;
}
.main-header__language-change-icon img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}
.main-header__login-btn {
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-header__login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    width: 98px;
    height: 38px;
    border-radius: 50px;
    background: linear-gradient(97deg, #5E35FF 0%, #357AFF 100%);
  }
}
.main-header__login-btn-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .main-header__login-btn-wrapper {
    display: block;
    margin-left: 24px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
}
.main-header__menu {
  display: flex;
  height: 60px;
  padding: 0 20px 0 16px;
  margin-bottom: 11px;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header__menu {
    height: 82px;
    margin-bottom: 0;
    padding: 0 22px;
  }
}
@media (min-width: 992px) {
  .main-header__menu {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .main-header__menu {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .main-header__mobile-menu {
    position: relative;
    top: 4px;
  }
}
@media (min-width: 992px) {
  .main-header__mobile-menu {
    display: none;
  }
}
.main-header__sections {
  height: 64px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 0 16px;
  background: linear-gradient(90deg, rgb(94, 53, 255) 5%, rgb(53, 122, 255) 100%);
}
@media (min-width: 768px) {
  .main-header__sections {
    padding: 0 22px;
  }
}
@media (min-width: 1200px) {
  .main-header__sections {
    padding: 0;
  }
}
.main-header__sections-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 42px;
}
@media (min-width: 992px) {
  .main-header__sections-list {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }
}
.main-header__sections-list-item-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: inline-block;
  width: max-content;
}
.main-header__sections-dropdown {
  position: static;
  display: inline-block;
  cursor: pointer;
  width: max-content;
}
.main-header__sections-dropdown svg {
  margin-left: 5px;
}
.main-header__sections-dropdown-links-wrapper {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-header__sections-dropdown-link {
  text-decoration: none;
  color: #000000;
}
.main-header__sections-dropdown:hover .main-header__sections-dropdown-content-wrapper {
  display: block;
}
.main-header__sections-dropdown:hover svg {
  transform: rotate(180deg);
}
.main-header__sections-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  position: absolute;
  width: 100%;
  overflow: visible;
  border-top: 3px solid #3778FF;
  z-index: 10000;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.14);
}
.main-header__sections-dropdown-content-wrapper {
  width: calc(100% - 33px);
}
.main-header__sections-dropdown-content h3 {
  margin-top: 0;
}
@media (min-width: 768px) {
  .main-header__sections-dropdown-content {
    flex-direction: row;
    padding: 22px 20px 22px 20px;
    height: 240px;
    width: 730px;
    gap: 100px;
  }
}
@media (min-width: 992px) {
  .main-header__sections-dropdown-content {
    width: 970px;
    height: 286px;
  }
}
@media (min-width: 1200px) {
  .main-header__sections-dropdown-content {
    padding: 51px 0 71px 63px;
    width: 1150px;
  }
}
.main-header__sections-dropdown-content-wrapper {
  display: none;
  position: absolute;
  padding-top: 43px;
}
@media (min-width: 768px) {
  .main-header__sections-dropdown-content-wrapper {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .main-header__sections-dropdown-content-wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .main-header__sections-dropdown-content-wrapper {
    width: 1150px;
  }
}
.main-header__sections-dropdown-content-wrapper--offset {
  left: 16px;
}
@media (min-width: 768px) {
  .main-header__sections-dropdown-content-wrapper--offset {
    left: 22px;
  }
}
@media (min-width: 1200px) {
  .main-header__sections-dropdown-content-wrapper--offset {
    margin-left: -125px;
    left: unset;
  }
}

.side__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .side__container {
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .side__container {
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .crypto-rates__container {
    max-width: 474px;
    width: 100%;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .crypto-rates__container {
    padding: 0;
  }
}
.crypto-rates__title {
  margin: 0 0 22px;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.crypto-rates__block {
  border-radius: 6px;
  flex-grow: 1;
  padding: 27px 14px 31px;
  background: linear-gradient(154deg, #475EFF 2.67%, #0042CC 94.57%);
}
@media (min-width: 768px) {
  .crypto-rates__block {
    padding: 30px 34px 52px 34px;
  }
}
@media (min-width: 1200px) {
  .crypto-rates__block {
    padding: 30px 36px 57px 36px;
  }
}
.crypto-rates__block-datetime-wrapper {
  display: flex;
  margin-bottom: 28px;
  justify-content: space-between;
}
.crypto-rates__block-datetime-item {
  margin: 0;
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.crypto-rates__block-currencies-wrapper {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .crypto-rates__block-currencies-wrapper {
    margin-bottom: 38px;
  }
}
.crypto-rates__block-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 21px;
}
.crypto-rates__block-button {
  width: 266px;
  height: 56px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: none;
  border: 1px solid white;
  color: #FFF;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
@media (min-width: 768px) {
  .crypto-rates__block-button {
    width: 315px;
  }
}
.crypto-rates__block-currency {
  display: flex;
}
.crypto-rates__block-currency:not(:last-of-type) {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.3);
}
@media (min-width: 768px) {
  .crypto-rates__block-currency:not(:last-of-type) {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.crypto-rates__block-currency-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: #fff;
}
@media (min-width: 768px) {
  .crypto-rates__block-currency-icon {
    height: 50px;
    width: 50px;
    margin-right: 23px;
  }
}
.crypto-rates__block-currency-icon img {
  height: 16px;
  width: 16px;
}
@media (min-width: 768px) {
  .crypto-rates__block-currency-icon img {
    width: 30px;
    height: 30px;
  }
}
.crypto-rates__block-currency-data {
  display: flex;
  flex: 5;
  flex-direction: column;
}
.crypto-rates__block-currency-rate {
  display: flex;
  justify-content: space-between;
}
.crypto-rates__block-currency-rate:first-of-type {
  margin-bottom: 6px;
}
.crypto-rates__block-currency-rate-name, .crypto-rates__block-currency-rate-price, .crypto-rates__block-currency-rate-abbreviation, .crypto-rates__block-currency-rate-percentage {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
}
.crypto-rates__block-currency-rate-name, .crypto-rates__block-currency-rate-price {
  font-weight: 700;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 22px 14px 70px;
}
@media (min-width: 768px) {
  .main-content-wrapper {
    padding: 30px 22px 70px;
  }
}
@media (min-width: 1200px) {
  .main-content-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 435px;
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 45px 0 96px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.article {
  width: 100%;
}
.article__header {
  width: 100%;
  padding: 28px 14px 34px 24px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.1);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .article__header {
    margin-bottom: 30px;
    padding: 28px 61px 44px 36px;
  }
}
@media (min-width: 1200px) {
  .article__header {
    margin-bottom: 20px;
    padding: 40px 48px 47px 51px;
  }
}
.article__header-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 768px) {
  .article__header-title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .article__header-title {
    font-size: 32px;
  }
}
.article__header-data {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .article__header-data {
    display: flex;
    gap: 79px;
  }
}
@media (min-width: 1200px) {
  .article__header-data {
    gap: 60px;
  }
}
.article__header-data:last-of-type {
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .article__header-data:last-of-type {
    flex-direction: row-reverse;
    gap: 79px;
  }
}
@media (min-width: 1200px) {
  .article__header-data:last-of-type {
    gap: 60px;
  }
}
.article__header-data-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 33px;
  gap: 22px;
}
@media (min-width: 768px) {
  .article__header-data-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .article__header-data-wrapper {
    margin-top: 42px;
    gap: 60px;
  }
}
.article__header-data-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.article__header-data-item:nth-child(2) {
  justify-self: flex-end;
}
.article__header-data-item:nth-child(3) {
  grid-row: 3;
}
.article__header-data-item-image {
  display: flex;
}
.article__header-data-item-text {
  margin: 0;
  gap: 15px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.3;
}
.article__header-btn {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50px;
  border: 1px solid #3778FF;
  color: #3778FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  fill: #3778FF;
  gap: 21px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .article__header-btn {
    max-width: 214px;
  }
}
.article__header-socials {
  margin-top: 31px;
  display: flex;
  gap: 9px;
  justify-content: center;
}
@media (min-width: 768px) {
  .article__header-socials {
    margin-top: 0;
  }
}
.article__header-socials-item {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: rgba(217, 217, 217, 0.5);
  cursor: pointer;
}
.article__header-socials-item--add {
  background: #3778FF;
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.article__header-socials-wrapper {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .article__header-socials-wrapper {
    flex-direction: row;
    width: 100%;
    gap: 42px;
  }
}
@media (min-width: 1200px) {
  .article__header-socials-wrapper {
    margin-top: 42px;
    gap: 60px;
  }
}
.article__header__button {
  width: 100%;
  max-width: 270px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background: linear-gradient(97deg, #5E35FF 0%, #357AFF 100%);
  cursor: pointer;
}
@media (min-width: 768px) {
  .article__header__button {
    margin: 0;
  }
}
.article__contents {
  border-radius: 15px;
  padding: 36px 20px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.1);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .article__contents {
    margin-bottom: 30px;
    padding: 36px 80px 36px 36px;
  }
}
@media (min-width: 1200px) {
  .article__contents {
    margin-bottom: 20px;
    padding: 30px 36px 39px 51px;
  }
}
.article__contents-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}
.article__contents-list {
  padding-inline-start: 23px;
  list-style: none;
  margin: 0;
}
@media (min-width: 768px) {
  .article__contents-list {
    padding-inline-start: 58px;
  }
}
.article__contents-list-item {
  position: relative;
  line-height: 178%;
}
.article__contents-list-item:not(:last-of-type) {
  margin-bottom: 10px;
}
.article__contents-list-item::before {
  content: "-";
  position: absolute;
  color: #3778FF;
  left: -21px;
}
.article__text-wrapper {
  padding: 36px 20px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.1);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .article__text-wrapper {
    padding: 36px 48px 54px 51px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .article__text-wrapper {
    margin-bottom: 20px;
  }
}
.article__text-title {
  font-size: 24px;
  font-weight: 700;
}
.article__text-title:first-of-type {
  margin-top: 0;
}
.article__text-title--small {
  font-size: 18px;
  font-weight: 700;
}
.article__text-item {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  margin: 0;
}
.article__text-slider {
  width: 100%;
  margin: 16px auto 0 auto;
  height: 100%;
  padding: 0 6px 34px !important;
  max-width: 500px;
}
.article__text-slider-wrapper {
  position: relative;
}
.article__text-slider-navigation {
  width: 22px;
  height: 42px;
  position: absolute;
  background: #F5F5F5 url("../../uminers-article/assets/menu-next-arrow.svg") no-repeat center center;
  cursor: pointer;
  pointer-events: auto;
}
@media (min-width: 768px) {
  .article__text-slider-navigation {
    display: block;
    width: 42px;
  }
}
.article__text-slider-navigation-wrapper {
  pointer-events: none;
  width: 100%;
  height: 42px;
  position: absolute;
  left: 0;
  right: 0;
  top: -18px;
  bottom: 0;
  margin: auto;
  z-index: 10000;
}
@media (min-width: 992px) {
  .article__text-slider-navigation-wrapper {
    max-width: 562px;
  }
}
@media (min-width: 1200px) {
  .article__text-slider-navigation-wrapper {
    max-width: 1140px;
  }
}
.article__text-slider-navigation--button-prev {
  transform: rotate(180deg);
  left: -22px;
}
@media (min-width: 768px) {
  .article__text-slider-navigation--button-prev {
    left: 0;
  }
}
@media (min-width: 992px) {
  .article__text-slider-navigation--button-prev {
    left: -35px;
  }
}
@media (min-width: 1200px) {
  .article__text-slider-navigation--button-prev {
    width: 22px;
    left: 0;
  }
}
.article__text-slider-navigation--button-next {
  right: -22px;
}
@media (min-width: 768px) {
  .article__text-slider-navigation--button-next {
    right: 0;
  }
}
@media (min-width: 992px) {
  .article__text-slider-navigation--button-next {
    right: -35px;
  }
}
@media (min-width: 1200px) {
  .article__text-slider-navigation--button-next {
    width: 22px;
    right: 0;
  }
}
.article__text-slide {
  user-select: none;
  border-radius: 15px;
  background: #FFF;
  display: flex !important;
  flex-direction: column;
  box-shadow: 0px 10px 20px 0px rgba(55, 120, 255, 0.14);
}
.article__text-slide-image {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article__text-slide-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  height: 138px;
}
.article__text-pagination {
  top: unset !important;
  bottom: 0;
}
.article__text-pagination .swiper-pagination-bullet {
  height: 3px;
  border-radius: 5px;
  width: 20px;
  background: #ADADAD;
}
.article__text-pagination .swiper-pagination-bullet-active {
  width: 35px;
  background: #3778FF;
}
.article__text-image {
  margin: 14px 0;
}
.article__text-image img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .article__text-image img {
    height: 290px;
  }
}
.article__text-quote {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  margin: 14px 0;
}
@media (min-width: 768px) {
  .article__text-quote {
    margin: 30px 0;
  }
}
.article__text-quote-content {
  padding: 55px 12px 18px 21px;
}
@media (min-width: 768px) {
  .article__text-quote-content {
    padding: 42px 58px 46px 81px;
  }
}
.article__text-quote-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  position: relative;
  margin: 0;
  padding-bottom: 10px;
}
.article__text-quote-text:before {
  content: "“";
  position: absolute;
  font-size: 108px;
  left: -4px;
  top: -8px;
  color: #000;
  font-style: normal;
  font-weight: 500;
  opacity: 0.1;
}
@media (min-width: 768px) {
  .article__text-quote-text:before {
    left: -48px;
    top: 18px;
  }
}
.article__text-quote-author {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  position: relative;
  margin-top: 21px;
  margin-bottom: 0;
}
.article__text-quote-author:before {
  content: "";
  position: absolute;
  width: 95%;
  background: #D9D9D9;
  height: 1px;
  left: 0;
  top: -15px;
}
@media (min-width: 768px) {
  .article__text-quote-author:before {
    width: 227px;
  }
}
.article__text-quote-author-position {
  margin-top: 4px;
  margin-bottom: 0;
  width: 150px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .article__text-quote-author-position {
    width: unset;
  }
}
.article__text-highlight {
  padding: 21px 10px 30px 21px;
  margin: 14px 0;
  border-radius: 6px;
  opacity: 0.99;
  background: #3778FF;
}
@media (min-width: 768px) {
  .article__text-highlight {
    margin: 30px 0;
  }
}
.article__text-highlight-item {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.article__text-highlight-item:not(:last-of-type) {
  margin-bottom: 30px;
}
.article__text-table {
  width: 100%;
  border-radius: 6px 6px 0 0;
  padding-bottom: 26px;
  display: inline-grid;
  overflow-x: auto;
}
@media (min-width: 768px) {
  .article__text-table {
    overflow-x: unset;
    display: block;
    padding-bottom: 0;
  }
}
.article__text-table::-webkit-scrollbar {
  height: 3px;
}
.article__text-table::-webkit-scrollbar-thumb {
  border-radius: 6px;
  opacity: 0.99;
  background: #3778FF;
}
.article__text-table-title {
  font-size: 16px;
  margin-top: 0;
}
.article__text-table-wrapper {
  margin: 14px 0;
}
@media (min-width: 768px) {
  .article__text-table-wrapper {
    margin: 30px 0;
  }
}
.article__text-table-head {
  display: grid;
  grid-auto-columns: minmax(143px, 1fr);
  grid-auto-flow: column;
  grid-auto-rows: 45px;
  align-items: center;
  justify-items: center;
  background-color: rgba(217, 217, 217, 0.2);
}
.article__text-table-head-item {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
.article__text-table-row {
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  grid-auto-columns: minmax(143px, 1fr);
  grid-auto-flow: column;
  grid-auto-rows: 58px;
  align-items: center;
  justify-items: center;
}
.article__text-table-row:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(217, 217, 217, 0.5);
  bottom: 0;
}
.article__text-table-row-item {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article__text-table-row-item:last-of-type:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(217, 217, 217, 0.5);
  right: 0;
}
.article__text-table-row-item:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(217, 217, 217, 0.5);
  left: 0;
}
.article__text-table-row-item--bold {
  font-weight: 700;
}
.article__text-table-legend {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.3;
  margin-top: 5px;
  margin-bottom: 0;
}
.article__text-table-legend:first-of-type {
  margin-top: 27px;
}
.article__author {
  padding: 35px 14px 30px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.1);
}
@media (min-width: 768px) {
  .article__author {
    padding: 35px 74px 30px 51px;
  }
}
.article__author-title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.4;
  margin: 0;
}
.article__author-profile {
  display: flex;
  gap: 24px;
  margin-top: 15px;
  position: relative;
}
.article__author-image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.article__author-image img {
  height: 60px;
}
.article__author-name {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 8px;
}
.article__author-position {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin: 0;
}
.article__author-divider {
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  opacity: 0.5;
  border: none;
  margin-top: 23px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .article__author-divider {
    margin-top: 36px;
    margin-bottom: 30px;
  }
}
.article__author-rating-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}
@media (min-width: 768px) {
  .article__author-rating-wrapper {
    justify-content: flex-start;
    gap: 35px;
  }
}
.article__author-rating-text {
  margin: 0;
}
.article__author-rating-counter {
  display: flex;
  width: 63px;
  justify-content: space-between;
  align-items: center;
}
.article__author-rating-btn {
  display: flex;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0;
  height: 14px;
  width: 18px;
}
.article__author-rating-btn--like {
  color: #008000;
}
.article__author-rating-btn--dislike {
  color: #F00;
  transform: rotate(180deg);
}
.article__author-rating-btn img {
  width: 16px;
  height: 16px;
}

.popular-themes {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.1);
  padding: 30px 21px;
}
@media (min-width: 768px) {
  .popular-themes {
    padding: 30px 45px 31px;
  }
}
@media (min-width: 1200px) {
  .popular-themes {
    padding: 30px 45px 37px;
  }
}
.popular-themes__title {
  margin-top: 0;
  margin-bottom: 17px;
}
.popular-themes__list {
  margin: 0;
  padding-inline-start: 15px;
}
@media (min-width: 768px) {
  .popular-themes__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline-start: 24px;
  }
}
@media (min-width: 1200px) {
  .popular-themes__list {
    display: block;
  }
}
.popular-themes__list-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  padding: 38px 24px;
  border-radius: 6px;
  background-color: #F9F9F9;
  height: 311px;
  background-image: url(../../uminers-category/assets/newsletter-small-background.svg);
  background-repeat: no-repeat;
  background-position: top right -5px;
}
@media (min-width: 768px) {
  .newsletter__container {
    height: auto;
    padding: 47px 42px 65px 48px;
    background-position: top 10px center;
  }
}
@media (min-width: 1200px) {
  .newsletter__container {
    width: 100%;
  }
}
.newsletter__title {
  font-size: 20px;
  margin: 0 0 26px;
}
@media (min-width: 768px) {
  .newsletter__title {
    width: 354px;
  }
}
.newsletter__form-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .newsletter__form-wrapper {
    flex-direction: row;
    gap: 31px;
  }
}
@media (min-width: 1200px) {
  .newsletter__form-wrapper {
    flex-direction: column;
    gap: 29px;
  }
}
.newsletter__email {
  width: 100%;
  max-width: 333px;
  height: 50px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  background: #FFF;
  padding-left: 23px;
  margin: 0 auto 28px auto;
}
@media (min-width: 768px) {
  .newsletter__email {
    width: 312px;
    margin: 0 0 24px 0;
  }
}
@media (min-width: 1200px) {
  .newsletter__email {
    margin: 0;
    width: 340px;
  }
}
.newsletter__button {
  width: 100%;
  max-width: 270px;
  height: 50px;
  color: #ffffff;
  border: none;
  font-weight: 700;
  border-radius: 50px;
  margin: 0 auto;
  background: linear-gradient(97deg, #5E35FF 0%, #357AFF 100%);
  cursor: pointer;
}
@media (min-width: 768px) {
  .newsletter__button {
    margin: 0;
  }
}

.additional-links__container {
  padding: 27px 23px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.1);
}
@media (min-width: 768px) {
  .additional-links__container {
    padding: 30px 42px 50px 45px;
  }
}
@media (min-width: 1200px) {
  .additional-links__container {
    padding: 30px 45px 44px;
  }
}
.additional-links__item:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .additional-links__item:not(:last-of-type) {
    padding-bottom: 16px;
    margin-bottom: 20px;
  }
}
.additional-links__title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}
.additional-links__summary {
  margin-top: 14px;
  margin-bottom: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
@media (min-width: 768px) {
  .additional-links__summary {
    margin-top: 23px;
  }
}
.additional-links__info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.additional-links__tag {
  margin: 0;
  opacity: 0.3;
  width: 112px;
}
@media (min-width: 768px) {
  .additional-links__tag {
    width: auto;
  }
}
.additional-links__datetime {
  margin: 0;
  color: #3778FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 50px;
  background: #000015;
}
@media (min-width: 768px) {
  .main-footer {
    padding-top: 66px;
    padding-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .main-footer__content {
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.main-footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .main-footer__block:last-of-type {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  .main-footer__block {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.main-footer__contacts {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}
@media (min-width: 1200px) {
  .main-footer__contacts {
    margin-top: 0;
  }
}
.main-footer__contacts p {
  margin: 0;
}
@media (min-width: 768px) {
  .main-footer__contacts {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .main-footer__contacts-item {
    position: relative;
  }
  .main-footer__contacts-item:not(:last-of-type)::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 1px;
    opacity: 0.15;
    background: #FFF;
    bottom: 4px;
    right: -15px;
  }
}
.main-footer__contacts--accent {
  color: #709EFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  text-decoration: none;
}
.main-footer__socials {
  display: flex;
  gap: 10px;
  margin-top: 23px;
}
@media (min-width: 768px) {
  .main-footer__socials {
    margin-top: 34px;
  }
}
@media (min-width: 1200px) {
  .main-footer__socials {
    margin-top: 0;
  }
}
.main-footer__divider {
  width: 280px;
  height: 1px;
  opacity: 0.15;
  box-sizing: border-box;
  background: #FFF;
  margin-top: 35px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .main-footer__divider {
    margin-top: 39px;
    margin-bottom: 34px;
    width: 580px;
  }
}
@media (min-width: 1200px) {
  .main-footer__divider {
    width: 100%;
    margin: 30px 0;
  }
}
.main-footer__policy {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-footer__policy {
    flex-direction: row;
  }
}
.main-footer__policy-item {
  text-decoration: none;
  color: #ffffff;
}
.main-footer__policy-item:first-of-type {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .main-footer__policy-item:first-of-type {
    margin-bottom: 0;
    margin-right: 24px;
  }
}
.main-footer__policy-logo {
  display: flex;
  width: 108px;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0 auto;
}
@media (min-width: 768px) {
  .main-footer__policy-logo {
    margin: 0 0 0 36px;
  }
}
.main-footer__copyright {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.6;
  margin-top: 47px;
}
.main-footer__copyright p {
  margin: 0;
}
@media (min-width: 768px) {
  .main-footer__copyright p:first-of-type {
    margin-right: 3px;
  }
}
@media (min-width: 768px) {
  .main-footer__copyright {
    margin-top: 34px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .main-footer__copyright {
    margin-top: 0;
  }
}

.articles-alike__container {
  width: 100%;
}
@media (min-width: 1200px) {
  .articles-alike__container {
    width: 100%;
    padding: 0;
    max-width: 685px;
  }
}
.articles-alike__title {
  font-size: 24px;
  margin: 0;
}
@media (min-width: 768px) {
  .articles-alike__title {
    font-size: 32px;
    margin: 0;
  }
}
.articles-alike__title-wrapper {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .articles-alike__title-wrapper {
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .articles-alike__title-wrapper {
    margin-top: 48px;
    margin-bottom: 27px;
  }
}
.articles-alike__slider {
  width: 100%;
  margin: 16px auto 0 auto;
  height: 100%;
  padding: 0 6px 34px !important;
}
@media (min-width: 768px) {
  .articles-alike__slider {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .articles-alike__slider {
    width: 100%;
  }
}
.articles-alike__slider-navigation {
  width: 33px;
  height: 42px;
  background: #F5F5F5 url("../../uminers-article/assets/menu-next-arrow.svg") no-repeat center center;
  cursor: pointer;
  pointer-events: auto;
}
@media (min-width: 768px) {
  .articles-alike__slider-navigation {
    display: block;
    width: 42px;
  }
}
.articles-alike__slider-navigation-wrapper {
  display: flex;
  gap: 11px;
  align-items: center;
  pointer-events: none;
}
@media (min-width: 768px) {
  .articles-alike__slider-navigation-wrapper {
    gap: 14px;
  }
}
.articles-alike__slider-navigation--button-prev {
  transform: rotate(180deg);
}
.articles-alike__slide {
  border-radius: 15px;
  background: #FFF;
  display: flex !important;
  flex-direction: column;
  box-shadow: 0px 10px 20px 0px rgba(55, 120, 255, 0.14);
}
.articles-alike__slide-image {
  width: 100%;
  max-height: 227px;
  display: flex;
}
.articles-alike__slide-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  height: 176px;
}
.articles-alike__slide-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 15px 26px;
}
@media (min-width: 768px) {
  .articles-alike__slide-description {
    padding: 18px 25px 41px;
  }
}
.articles-alike__slide-datetime {
  color: #3778FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.99;
  margin: 0;
}
.articles-alike__slide-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .articles-alike__slide-text {
    -webkit-line-clamp: 3;
  }
}
.articles-alike__slide-tag {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.3;
  margin-bottom: 0;
  margin-top: 17px;
}
@media (min-width: 768px) {
  .articles-alike__slide-tag {
    margin-top: 35px;
  }
}
.articles-alike__pagination {
  top: unset !important;
  bottom: 0;
}
.articles-alike__pagination .swiper-pagination-bullet {
  height: 3px;
  border-radius: 5px;
  width: 20px;
  background: #ADADAD;
}
.articles-alike__pagination .swiper-pagination-bullet-active {
  width: 35px;
  background: #3778FF;
}

/*# sourceMappingURL=article.css.map */
