@import "../../fonts/fonts.css";
@import "../styles/mixins.scss";
@import "../styles/normalize.css";

* {
  box-sizing: border-box;
}

.swiper-button-disabled {
  opacity: .5;
  cursor: default !important;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  font-family: "Gilroy", sans-serif;
}

// Общая обертка

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Хлебные крошки

.breadcrumbs {
  &__container {
    max-width: 1140px;
    margin: 30px auto 0 14px;
    height: fit-content;

    @include for-tablet {
      margin-left: 22px;
    }

    @include for-desktop-large {
      grid-column: 1;
      grid-row: 1;
      margin-left: auto;
      width: 100%;
      margin-right: auto;
    }
  }

  &__link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;

    &:not(:first-of-type) {
      &::before {
        content: '/';
        color: #888A8F;
        display: inline-block;
        width: 10px;
      }
    }

    &:last-of-type {
      color: #888A8F;

      &::before {
        color: #888A8F;
      }
    }
  }
}

// Шапка

.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__site-logo {
    margin-left: 25px;

    @include for-tablet {
      margin-left: 30px;
      width: 143px;
      height: 16px;

      a {
        display: inline-block;
        width: 100%;
        height: 16px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    @include for-desktop {
      margin: 0;
    }
  }

  &__global-menu {
    display: none;

    @include for-desktop {
      display: block;
      margin: 0 auto;
    }

    @include for-desktop-large {
      margin: 0 0 0 165px;
    }

    &-list {
      @include for-desktop {
        display: flex;
        list-style: none;
        gap: 30px;
        padding: 0;
      }
    }

    &-item {
      color: #888A8F;
      font-size: 14px;
      cursor: pointer;
      position: relative;

      &--active {
        color: #000000;

        &::after {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50px;
          background: #3778FF;
          top: 22px;
          left: 51%;
          transform: translate(-50%, 0);
        }
      }
    }
  }

  &__language {
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42px;
    margin-left: auto;
    cursor: pointer;
    position: relative;

    &:hover {
      .main-header__language-dropdown-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-dropdown-icon {
      margin-left: 15px;
    }

    &-icon {
      height: 16px;
      width: 16px;
      position: relative;
      color: #3F3F3F;

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        opacity: 0.1;
        margin-left: 7px;
        background: #000;
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 50px;
      }
    }

    &-dropdown-wrapper {
      position: absolute;
      width: 100%;
      padding-bottom: 30px;
    }

    &-dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      height: 50px;
      top: 28px;
      border-top: 3px solid #3778FF;
      z-index: 10000;
      border-radius: 6px;
      background: #FFF;
      box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.14);
    }

    &-change-icon {
      width: 16px;
      height: 16px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50px;
      }
    }
  }

  &__login-btn {
    display: none;
    cursor: pointer;

    @include for-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(0, 0, 0, 0.10);
      padding: 6px;
      font-size: 14px;
      font-weight: 700;
      color: white;
      width: 98px;
      height: 38px;
      border-radius: 50px;
      background: linear-gradient(97deg, #5E35FF 0%, #357AFF 100%);
    }

    &-wrapper {
      display: none;

      @include for-tablet {
        display: block;
        margin-left: 24px;
        padding: 6px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        border-radius: 50px;
      }
    }
  }

  &__menu {
    display: flex;
    height: 60px;
    padding: 0 20px 0 16px;
    margin-bottom: 11px;
    align-items: center;

    @include for-tablet {
      height: 82px;
      margin-bottom: 0;
      padding: 0 22px;
    }

    @include for-desktop {
      max-width: 1140px;
      margin: 0 auto;
      width: 100%;
    }

    @include for-desktop-large {
      padding: 0;
    }
  }

  &__mobile-menu {
    @include for-tablet {
      position: relative;
      top: 4px;
    }

    @include for-desktop {
      display: none;
    }
  }

  &__sections {
    height: 64px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 0 16px;
    background: linear-gradient(90deg, rgba(94, 53, 255, 1) 5%, rgba(53, 122, 255, 1) 100%);

    @include for-tablet {
      padding: 0 22px;
    }

    @include for-desktop-large {
      padding: 0;
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 42px;

      @include for-desktop {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
      }

      &-item-link {
        text-decoration: none;
        color: white;
        font-size: 16px;
        display: inline-block;
        width: max-content;
      }
    }

    &-dropdown {
      position: static;
      display: inline-block;
      cursor: pointer;
      width: max-content;

      svg {
        margin-left: 5px;
      }

      &-links-wrapper {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &-link {
        text-decoration: none;
        color: #000000;
      }

      &:hover {
        .main-header__sections-dropdown-content-wrapper {
          display: block;
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }

    &-dropdown-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      position: absolute;
      width: 100%;
      overflow: visible;
      border-top: 3px solid #3778FF;
      z-index: 10000;
      border-radius: 6px;
      background: #FFF;
      box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.14);

      &-wrapper {
        width: calc(100% - 33px);
      }

      h3 {
        margin-top: 0;
      }

      @include for-tablet {
        flex-direction: row;
        padding: 22px 20px 22px 20px;
        height: 240px;
        width: 730px;
        gap: 100px;
      }

      @include for-desktop {
        width: 970px;
        height: 286px;
      }

      @include for-desktop-large {
        padding: 51px 0 71px 63px;
        width: 1150px;
      }

      &-wrapper {
        display: none;
        position: absolute;
        padding-top: 43px;

        @include for-tablet {
          width: 730px;
        }

        @include for-desktop {
          width: 970px;
        }

        @include for-desktop-large {
          width: 1150px;
        }

        &--offset {
          left: 16px;

          @include for-tablet {
            left: 22px;
          }

          @include for-desktop-large {
            margin-left: -125px;
            left: unset;
          }
        }
      }
    }
  }
}

// Обертка бокового контента

.side__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include for-tablet {
    gap: 30px;
  }

  @include for-desktop-large {
    gap: 20px;
  }
}

// Курсы криптовалют

.crypto-rates {
  &__container {

    @include for-desktop-large {
      max-width: 474px;
      width: 100%;
      margin-top: 0;
    }

    @include for-desktop-large {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 22px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  &__block {
    border-radius: 6px;
    flex-grow: 1;
    padding: 27px 14px 31px;
    background: linear-gradient(154deg, #475EFF 2.67%, #0042CC 94.57%);

    @include for-tablet {
      padding: 30px 34px 52px 34px;
    }

    @include for-desktop-large {
      padding: 30px 36px 57px 36px;
    }

    &-datetime {
      &-wrapper {
        display: flex;
        margin-bottom: 28px;
        justify-content: space-between;
      }

      &-item {
        margin: 0;
        color: #FFF;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }
    }

    &-currencies-wrapper {
      margin-bottom: 28px;

      @include for-tablet {
        margin-bottom: 38px;
      }
    }

    &-buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 21px;
    }

    &-button {
      width: 266px;
      height: 56px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      background: none;
      border: 1px solid white;
      color: #FFF;
      text-align: center;
      font-weight: 700;
      cursor: pointer;

      @include for-tablet {
        width: 315px;
      }
    }

    &-currency {
      display: flex;

      &:not(:last-of-type) {
        padding-bottom: 14px;
        margin-bottom: 14px;
        border-bottom: 1px solid rgba(217, 217, 217, 0.3);

        @include for-tablet {
          border-bottom: none;
          padding-bottom: 0;
        }
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        margin-right: 9px;
        border-radius: 50%;
        background-color: #fff;

        @include for-tablet {
          height: 50px;
          width: 50px;
          margin-right: 23px;
        }

        img {
          height: 16px;
          width: 16px;

          @include for-tablet {
            width: 30px;
            height: 30px;
          }
        }
      }

      &-data {
        display: flex;
        flex: 5;
        flex-direction: column;
      }

      &-rate {
        &:first-of-type {
          margin-bottom: 6px;
        }

        display: flex;
        justify-content: space-between;

        &-name, &-price, &-abbreviation, &-percentage {
          margin: 0;
          color: #FFF;
          font-size: 16px;
          font-style: normal;
          line-height: 160%;
        }

        &-name, &-price {
          font-weight: 700;
        }
      }
    }
  }
}

// Обертка содержимого главной страницы

.main-content {
  &-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 22px 14px 70px;

    @include for-tablet {
      padding: 30px 22px 70px;
    }

    @include for-desktop-large {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 435px;
      gap: 20px;
      max-width: 1140px;
      margin: 0 auto;
      padding: 45px 0 96px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

// Статья

.article {
  width: 100%;

  &__header {
    width: 100%;
    padding: 28px 14px 34px 24px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.10);
    margin-bottom: 20px;

    @include for-tablet {
      margin-bottom: 30px;
      padding: 28px 61px 44px 36px;
    }

    @include for-desktop-large {
      margin-bottom: 20px;
      padding: 40px 48px 47px 51px;
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
      margin: 0;

      @include for-tablet {
        font-size: 28px;
      }

      @include for-desktop-large {
        font-size: 32px;
      }
    }

    &-data {
      display: flex;
      justify-content: space-between;

      @include for-tablet {
        display: flex;
        gap: 79px;
      }

      @include for-desktop-large {
        gap: 60px;
      }

      &:last-of-type {
        flex-direction: column;
        gap: 20px;

        @include for-tablet {
          flex-direction: row-reverse;
          gap: 79px;
        }

        @include for-desktop-large {
          gap: 60px;
        }
      }

      &-wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        margin-top: 33px;
        gap: 22px;

        @include for-tablet {
          display: flex;
          justify-content: space-between;
        }

        @include for-desktop-large {
          margin-top: 42px;
          gap: 60px;
        }
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 8px;

        &:nth-child(2) {
          justify-self: flex-end;
        }

        &:nth-child(3) {
          grid-row: 3;
        }

        &-image {
          display: flex;
        }

        &-text {
          margin: 0;
          gap: 15px;
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          opacity: 0.3;
        }
      }
    }

    &-btn {
      width: 100%;
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 50px;
      border: 1px solid #3778FF;
      color: #3778FF;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      fill: #3778FF;
      gap: 21px;
      cursor: pointer;

      @include for-tablet {
        max-width: 214px;
      }
    }

    &-socials {
      margin-top: 31px;
      display: flex;
      gap: 9px;
      justify-content: center;

      @include for-tablet {
        margin-top: 0;
      }

      &-item {
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        background: rgba(217, 217, 217, 0.5);
        cursor: pointer;

        &--add {
          background: #3778FF;
          color: white;
          font-size: 22px;
          font-weight: 700;
        }
      }

      &-wrapper {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-tablet {
          flex-direction: row;
          width: 100%;
          gap: 42px;
        }

        @include for-desktop-large {
          margin-top: 42px;
          gap: 60px;
        }
      }
    }

    &__button {
      width: 100%;
      max-width: 270px;
      height: 50px;
      color: #ffffff;
      font-weight: 700;
      border: none;
      border-radius: 50px;
      background: linear-gradient(97deg, #5E35FF 0%, #357AFF 100%);
      cursor: pointer;

      @include for-tablet {
        margin: 0;
      }
    }
  }

  &__contents {
    border-radius: 15px;
    padding: 36px 20px;
    background: #FFF;
    box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.10);
    margin-bottom: 20px;

    @include for-tablet {
      margin-bottom: 30px;
      padding: 36px 80px 36px 36px;
    }

    @include for-desktop-large {
      margin-bottom: 20px;
      padding: 30px 36px 39px 51px;
    }

    &-title {
      margin-top: 0;
      font-size: 24px;
      font-weight: 700;
    }

    &-list {
      padding-inline-start: 23px;
      list-style: none;
      margin: 0;

      @include for-tablet {
        padding-inline-start: 58px;
      }

      &-item {
        position: relative;
        line-height: 178%;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }

        &::before {
          content: '-';
          position: absolute;
          color: #3778FF;
          left: -21px;
        }
      }
    }
  }

  &__text {

    &-wrapper {
      padding: 36px 20px;
      border-radius: 15px;
      background: #FFF;
      box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.10);
      margin-bottom: 20px;

      @include for-tablet {
        padding: 36px 48px 54px 51px;
        margin-bottom: 30px;
      }

      @include for-desktop-large {
        margin-bottom: 20px;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 700;

      &:first-of-type {
        margin-top: 0;
      }

      &--small {
        font-size: 18px;
        font-weight: 700;
      }
    }

    &-item {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 200%;
      margin: 0;
    }

    &-slider {
      width: 100%;
      margin: 16px auto 0 auto;
      height: 100%;
      padding: 0 6px 34px !important;
      max-width: 500px;

      &-wrapper {
        position: relative;
      }

      &-navigation {
        width: 22px;
        height: 42px;
        position: absolute;
        background: #F5F5F5 url("../../uminers-article/assets/menu-next-arrow.svg") no-repeat center center;
        cursor: pointer;

        @include for-tablet {
          display: block;
          width: 42px;
        }

        &-wrapper {
          width: 100%;
          height: 42px;
          position: absolute;
          left: 0;
          right: 0;
          top: -18px;
          bottom: 0;
          margin: auto;
          z-index: 10000;

          @include for-desktop {
            max-width: 562px;
          }

          @include for-desktop-large {
            max-width: 1140px;
          }
        }

        &--button-prev {
          transform: rotate(180deg);
          left: -22px;

          @include for-tablet {
            left: 0;
          }

          @include for-desktop {
            left: -35px;
          }

          @include for-desktop-large {
            width: 22px;
            left: 0;
          }

        }

        &--button-next {
          right: -22px;

          @include for-tablet {
            right: 0;
          }

          @include for-desktop {
            right: -35px;
          }

          @include for-desktop-large {
            width: 22px;
            right: 0;
          }
        }
      }
    }

    &-slide {
      user-select: none;
      border-radius: 15px;
      background: #FFF;
      display: flex !important;
      flex-direction: column;
      box-shadow: 0px 10px 20px 0px rgba(55, 120, 255, 0.14);

      &-image {
        width: 100%;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 6px 6px 0 0;
          height: 138px;
        }
      }
    }

    &-pagination {
      top: unset !important;
      bottom: 0;

      .swiper-pagination-bullet {
        height: 3px;
        border-radius: 5px;
        width: 20px;
        background: #ADADAD;

        &-active {
          width: 35px;
          background: #3778FF;
        }
      }
    }

    &-image {
      margin: 14px 0;

      img {
        width: 100%;
        height: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 6px;

        @include for-tablet {
          height: 290px;
        }
      }
    }

    &-quote {
      width: 100%;
      background: rgba(217, 217, 217, .2);
      margin: 14px 0;

      @include for-tablet {
        margin: 30px 0;
      }

      &-content {
        padding: 55px 12px 18px 21px;

        @include for-tablet {
          padding: 42px 58px 46px 81px;
        }
      }

      &-text {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
        position: relative;
        margin: 0;
        padding-bottom: 10px;

        &:before {
          content: "“";
          position: absolute;
          font-size: 108px;
          left: -4px;
          top: -8px;
          color: #000;
          font-style: normal;
          font-weight: 500;
          opacity: 0.1;

          @include for-tablet {
            left: -48px;
            top: 18px;
          }
        }
      }

      &-author {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        position: relative;
        margin-top: 21px;
        margin-bottom: 0;

        &:before {
          content: "";
          position: absolute;
          width: 95%;
          background: #D9D9D9;
          height: 1px;
          left: 0;
          top: -15px;

          @include for-tablet {
            width: 227px;
          }
        }

        &-position {
          margin-top: 4px;
          margin-bottom: 0;
          width: 150px;
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          opacity: 0.5;

          @include for-tablet {
            width: unset;
          }
        }
      }
    }

    &-highlight {
      padding: 21px 10px 30px 21px;
      margin: 14px 0;
      border-radius: 6px;
      opacity: 0.99;
      background: #3778FF;

      @include for-tablet {
        margin: 30px 0;
      }

      &-item {
        margin: 0;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;

        &:not(:last-of-type) {
          margin-bottom: 30px;
        }
      }
    }

    &-table {
      width: 100%;
      border-radius: 6px 6px 0 0;
      padding-bottom: 26px;
      display: inline-grid;
      overflow-x: auto;

      @include for-tablet {
        overflow-x: unset;
        display: block;
        padding-bottom: 0;
      }

      &::-webkit-scrollbar {
        height: 3px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        opacity: 0.99;
        background: #3778FF;
      }

      &-title {
        font-size: 16px;
        margin-top: 0;
      }

      &-wrapper {
        margin: 14px 0;

        @include for-tablet {
          margin: 30px 0;
        }
      }

      &-head {
        display: grid;
        grid-auto-columns: minmax(143px, 1fr);
        grid-auto-flow: column;
        grid-auto-rows: 45px;
        align-items: center;
        justify-items: center;
        background-color: rgba(217, 217, 217, .2);

        &-item {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%;
        }
      }

      &-row {
        display: grid;
        height: 100%;
        width: 100%;
        position: relative;
        grid-auto-columns: minmax(143px, 1fr);
        grid-auto-flow: column;
        grid-auto-rows: 58px;
        align-items: center;
        justify-items: center;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: rgba(217, 217, 217, .5);
          bottom: 0;
        }


        &-item {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:last-of-type {
            &:after {
              content: '';
              position: absolute;
              height: 100%;
              width: 1px;
              background-color: rgba(217, 217, 217, .5);
              right: 0;
            }
          }

          &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: rgba(217, 217, 217, .5);
            left: 0;
          }

          &--bold {
            font-weight: 700;
          }
        }
      }

      &-legend {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        opacity: .3;
        margin-top: 5px;
        margin-bottom: 0;

        &:first-of-type {
          margin-top: 27px;
        }
      }
    }
  }

  &__author {
    padding: 35px 14px 30px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.10);

    @include for-tablet {
      padding: 35px 74px 30px 51px;
    }

    &-title {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      opacity: 0.4;
      margin: 0;
    }

    &-profile {
      display: flex;
      gap: 24px;
      margin-top: 15px;
      position: relative;
    }

    &-image {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      img {
        height: 60px;
      }
    }

    &-name {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      margin-top: 0;
      margin-bottom: 8px;
    }

    &-position {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      margin: 0;
    }

    &-divider {
      width: 100%;
      height: 1px;
      background-color: #D9D9D9;
      opacity: .5;
      border: none;
      margin-top: 23px;
      margin-bottom: 25px;

      @include for-tablet {
        margin-top: 36px;
        margin-bottom: 30px;
      }
    }

    &-rating-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20px;

      @include for-tablet {
        justify-content: flex-start;
        gap: 35px;
      }
    }

    &-rating-text {
      margin: 0;
    }

    &-rating-counter {
      display: flex;
      width: 63px;
      justify-content: space-between;
      align-items: center;
    }

    &-rating-btn {
      display: flex;
      border: none;
      background-color: white;
      cursor: pointer;
      padding: 0;
      height: 14px;
      width: 18px;

      &--like {
        color: #008000;
      }

      &--dislike {
        color: #F00;
        transform: rotate(180deg);
      }

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

// Популярные темы

.popular-themes {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.10);
  padding: 30px 21px;

  @include for-tablet {
    padding: 30px 45px 31px;
  }

  @include for-desktop-large {
    padding: 30px 45px 37px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 17px;
  }

  &__list {
    margin: 0;
    padding-inline-start: 15px;

    @include for-tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-inline-start: 24px;
    }

    @include for-desktop-large {
      display: block;
    }

    &-item {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}

// Подписка на новостную рассылку

.newsletter {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 38px 24px;
    border-radius: 6px;
    background-color: #F9F9F9;
    height: 311px;
    background-image: url(../../uminers-category/assets/newsletter-small-background.svg);
    background-repeat: no-repeat;
    background-position: top right -5px;

    @include for-tablet {
      height: auto;
      padding: 47px 42px 65px 48px;
      background-position: top 10px center;
    }

    @include for-desktop-large {
      width: 100%;
    }
  }

  &__title {
    font-size: 20px;
    margin: 0 0 26px;

    @include for-tablet {
      width: 354px;
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;

    @include for-tablet {
      flex-direction: row;
      gap: 31px;
    }

    @include for-desktop-large {
      flex-direction: column;
      gap: 29px;
    }
  }

  &__email {
    width: 100%;
    max-width: 333px;
    height: 50px;
    border: 1px solid rgba(196, 196, 196, 0.50);
    background: #FFF;
    padding-left: 23px;
    margin: 0 auto 28px auto;

    @include for-tablet {
      width: 312px;
      margin: 0 0 24px 0;
    }

    @include for-desktop-large {
      margin: 0;
      width: 340px;
    }
  }

  &__button {
    width: 100%;
    max-width: 270px;
    height: 50px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    border-radius: 50px;
    margin: 0 auto;
    background: linear-gradient(97deg, #5E35FF 0%, #357AFF 100%);
    cursor: pointer;

    @include for-tablet {
      margin: 0;
    }
  }
}

// Свежие статьи

.additional-links {

  &__container {
    padding: 27px 23px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 10px 20px 0 rgba(55, 120, 255, 0.10);

    @include for-tablet {
      padding: 30px 42px 50px 45px;
    }

    @include for-desktop-large {
      padding: 30px 45px 44px;
    }
  }

  &__item {
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 14px;
      margin-bottom: 14px;

      @include for-tablet {
        padding-bottom: 16px;
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
  }

  &__summary {
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;

    @include for-tablet {
      margin-top: 23px;
    }
  }

  &__info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tag {
    margin: 0;
    opacity: .3;
    width: 112px;

    @include for-tablet {
      width: auto;
    }
  }

  &__datetime {
    margin: 0;
    color: #3778FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 50px;
  background: #000015;

  @include for-tablet {
    padding-top: 66px;
    padding-bottom: 36px;
  }

  @include for-desktop-large {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &__content {
    @include for-desktop-large {
      width: 1140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-of-type {
      @include for-desktop-large {
        flex-direction: row-reverse;
      }
    }

    @include for-desktop-large {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__contacts {
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;

    @include for-desktop-large {
      margin-top: 0;
    }

    p {
      margin: 0;
    }

    @include for-tablet {
      display: flex;
      gap: 30px;
    }

    &-item {
      @include for-tablet {
        position: relative;
        &:not(:last-of-type) {
          &::after {
            content: '';
            position: absolute;
            height: 15px;
            width: 1px;
            opacity: 0.15;
            background: #FFF;
            bottom: 4px;
            right: -15px;
          }
        }
      }
    }

    &--accent {
      color: #709EFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 180%;
      text-decoration: none;
    }
  }

  &__socials {
    display: flex;
    gap: 10px;
    margin-top: 23px;

    @include for-tablet {
      margin-top: 34px;
    }

    @include for-desktop-large {
      margin-top: 0;
    }
  }

  &__divider {
    width: 280px;
    height: 1px;
    opacity: 0.15;
    box-sizing: border-box;
    background: #FFF;
    margin-top: 35px;
    margin-bottom: 30px;

    @include for-tablet {
      margin-top: 39px;
      margin-bottom: 34px;
      width: 580px;
    }

    @include for-desktop-large {
      width: 100%;
      margin: 30px 0;
    }
  }

  &__policy {
    color: #ffffff;
    display: flex;
    flex-direction: column;

    @include for-tablet {
      flex-direction: row;
    }

    &-item {
      text-decoration: none;
      color: #ffffff;

      &:first-of-type {
        margin-bottom: 12px;

        @include for-tablet {
          margin-bottom: 0;
          margin-right: 24px;
        }
      }
    }

    &-logo {
      display: flex;
      width: 108px;
      align-items: center;
      justify-content: space-between;
      margin: 20px auto 0 auto;

      @include for-tablet {
        margin: 0 0 0 36px;
      }
    }
  }

  &__copyright {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    opacity: 0.6;
    margin-top: 47px;

    p {
      margin: 0;

      @include for-tablet {
        &:first-of-type {
          margin-right: 3px;
        }
      }
    }

    @include for-tablet {
      margin-top: 34px;
      display: flex;
    }

    @include for-desktop-large {
      margin-top: 0;
    }
  }
}

// Похожие статьи

.articles-alike {
  &__container {
    width: 100%;

    @include for-desktop-large {
      width: 100%;
      padding: 0;
      max-width: 685px;
    }
  }

  &__title {
    font-size: 24px;
    margin: 0;

    @include for-tablet {
      font-size: 32px;
      margin: 0;
    }

    &-wrapper {
      display: flex;
      margin-top: 40px;
      margin-bottom: 30px;
      justify-content: space-between;
      align-items: center;

      @include for-tablet {
        align-items: center;
        justify-content: space-between;
      }

      @include for-desktop-large {
        margin-top: 48px;
        margin-bottom: 27px;
      }
    }
  }

  &__slider {
    width: 100%;
    margin: 16px auto 0 auto;
    height: 100%;
    padding: 0 6px 34px !important;

    @include for-tablet {
      width: 100%;
      max-width: 100%;
    }

    @include for-desktop-large {
      width: 100%;
    }

    &-navigation {
      width: 33px;
      height: 42px;
      background: #F5F5F5 url("../../uminers-article/assets/menu-next-arrow.svg") no-repeat center center;
      cursor: pointer;

      @include for-tablet {
        display: block;
        width: 42px;
      }

      &-wrapper {
        display: flex;
        gap: 11px;
        align-items: center;

        @include for-tablet {
          gap: 14px;
        }
      }

      &--button-prev {
        transform: rotate(180deg);
      }

      &--button-next {

      }
    }
  }

  &__slide {
    border-radius: 15px;
    background: #FFF;
    display: flex !important;
    flex-direction: column;
    box-shadow: 0px 10px 20px 0px rgba(55, 120, 255, 0.14);

    &-image {
      width: 100%;
      max-height: 227px;
      display: flex;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 6px 6px 0 0;
        height: 176px;
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 16px 15px 26px;

      @include for-tablet {
        padding: 18px 25px 41px;
      }
    }

    &-datetime {
      color: #3778FF;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      opacity: 0.99;
      margin: 0;
    }

    &-text {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 0;

      @include for-tablet {
        -webkit-line-clamp: 3;
      }
    }

    &-tag {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      opacity: 0.3;
      margin-bottom: 0;
      margin-top: 17px;

      @include for-tablet {
        margin-top: 35px;
      }
    }
  }

  &__pagination {
    top: unset !important;
    bottom: 0;

    .swiper-pagination-bullet {
      height: 3px;
      border-radius: 5px;
      width: 20px;
      background: #ADADAD;

      &-active {
        width: 35px;
        background: #3778FF;
      }
    }
  }
}

